[Desktop Entry]
Name=MAIANA AIS
Exec=openplotter-maiana
Icon=openplotter-maiana
StartupNotify=true
Terminal=false
Type=Application
Categories=OpenPlotter
