Source: openplotter-maiana
Section: misc
Priority: optional
Maintainer: Sailoog <info@sailoog.com>
Build-Depends: debhelper (>=9),dh-python,python3-all,python3-setuptools
Standards-Version: 3.9.6
Homepage: https://github.com/openplotter/openplotter-maiana
X-Python3-Version: >= 3.2

Package: openplotter-maiana
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}, openplotter-settings, openplotter-signalk-installer, python3-serial, python3-websocket
Description: OpenPlotter integration of the MAIANA open source AIS transponder
 OpenPlotter integration of the MAIANA open source AIS transponder
